body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.signinForm {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.fill {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}